.register {
  display: flex;
  justify-content: center;
  top: 10px !important;
  .ant-modal-content {
    border-radius: 0;
    width: 450px;


    .ant-modal-header {
      border: white;
      padding: 0;

      .ant-modal-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        border-color: white !important;
      }
    }

    .ant-modal-body {
      padding: 0 50px;

      .ant-form {
        .input-content {
          margin-bottom: 12px;

          .ant-form-item-label {
            height: 40px;

            label {
              color: #202124;
              font-size: 12px;
              font-weight: bold;
            }
          }

          .ant-form-item-control-wrapper {
            height: 46px;

            .ant-form-item-control {
              height: 100%;

              .ant-form-item-children {
                height: 24px;

                .ant-input-affix-wrapper {
                  height: 100%;

                  .ant-input-prefix {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .footer {
          margin-bottom: 0;

          .ant-form-item-control-wrapper {
            height: 100%;

            .ant-form-item-control {
              height: 100%;
              position: relative;

              .ant-form-item-children {
                height: 100% !important;

                .top {
                  height: 44px;
                  margin-top: 10px;

                  p {
                    margin: 0;
                    height: auto;
                    text-align: center;
                    font-size: 14px;
                    line-height: 22px;
                  }

                  .bottom {
                    margin: 0;
                    padding: 0;
                    height: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                      padding: 0px 5px;
                      margin: 0;
                      height: auto;
                      font-size: 14px;
                      line-height: 22px;
                    }

                    .link-primary {
                      height: auto;
                      line-height: 22px;
                      color: #ff7413;
                      font-weight: bold;
                      border-bottom: 1px solid #ff7413;
                    }
                  }
                }

                .login-form-button {
                  margin-top: 30px;
                  height: 50px;
                  width: 100%;
                  background-color: #ffa15f;
                  border: #ffa15f;
                  border-radius: 0;
                  font-size: 15px;
                  font-weight: bold;
                  position: relative;
                }

                .alert-content {
                  width: 100%;
                  margin-top: 5px;
                  position: absolute;
                }

                .bottom {
                  border-top: 1px solid rgba(0, 0, 0, 0.14);
                  display: flex;
                  margin-top: 50px;
                  justify-content: center;
                  align-items: center;
                  height: 65px;

                  .text {
                    padding-right: 5px;
                    margin: 0;
                    font-weight: 500;
                  }

                  .register {
                    color: #ff7413;
                    padding: 0;
                    margin: 0;

                    span {
                      font-weight: 500;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .ant-modal-footer {
      display: none;
    }
  }
}

.input-login {
  input {
    border-radius: 0;
    color: #202124;
    font-weight: 600;

    &:focus {
    }

    &:hover {
    }
  }
}
